<h1>Total Seconds Per Program</h1>

<table>
<% @items.each do |item| %>
  <tr>
    <td>
      <%= item["key"] %>  
    </td>
    <td class="number">
      <%= item['value'] %>
    </td>
  </tr>
<% end %>
</table>
