<fieldset>
  <div class="row">
    <label>
      Total Listening Time Per Program
    </label>
  </div>
  <div class="row">
    <div class="mainBox" style="padding:14px 14px 14px 0;">
<%= render :partial => 'table' %>
    </div>
  </div>
</fieldset>




