
body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    padding: 4px;
}


h3 {
  margin-top:1.5em;
  margin-bottom: 0.5em;
}
h4 {
  margin: 0;
  margin-bottom: 7px;
}



/* VRM */


.listenItem img {
  width: 75px;
  padding-left: 5px;
  padding-bottom: 5px;
  float:right;
}
.listenItem  .episode-summary {
  color: #666;
  font-size: small;
  margin-top: 4px;
  line-height: 1.2em;
}
table.stats {
  width:100%
}
td.leftCol {
  vertical-align:top;
  width: 60%;
  font-size: 14px;
  color: #333;
  font-weight:bold;
  padding-bottom: 10px;
}
td.number {
  vertical-align:top;
  font-size: 13px;
  text-align:right;
}


#navigation li {
  line-height: 2em;
  font-size: 16px;
}
