<h3>Listen Log</h3>

<%= render :partial => 'lognav' %>

<% @items[0, @limit].each do |x| %>
  <%= render :partial => 'users/item', :object => x['doc'] %>
<% end %>

<%= render :partial => 'lognav' %>

