<h2>Your Secure Device ID</h2>

<fieldset>
  <div class="row">
    <label style="font-size: smaller">
      <%= @device_id %>
    </label>
  </div>
  <div class="row" style="padding:14px 14px 14px 0;">
    <div class="mainBox">
      This identifier is tied to your iPhone but unrelated to your Apple iPhone UDID.  
      It is completely anonymous.
    </div>
  </div>

</fieldset>

<h2>Manage Your ListenLog</h2>
<fieldset>
  <div class="mainBox">
    <div style="padding: 14px; padding-bottom:0">
      Copy and email yourself this link to manage your listenlog from
      your desktop web browser:
      <p>
      <%= link_to "My ListenLog", user_url(:id => @device_id) %>
      </p>
    </div> 
  </div>
</fieldset>

<h2>Your ListenLog PIN</h2>
<fieldset>
  <div class="mainBox">
    <div style="padding: 14px">
      You'll need your ListenLog PIN to perform certain
      actions on your ListenLog data at the ListenLog website.
      To see you PIN, tap the "Show PIN" button in the upper right corner.
    </div> 
  </div>
</fieldset>
