<h3>Your Secure Device ID</h3>

<pre>
<%= @device_id %>
</pre>
<div>
    This identifier is tied to your iPhone but unrelated to your Apple iPhone UDID.  
    It is completely anonymous.
</div>



<h3>Manage Your ListenLog</h3>

<p>
  Email yourself your ListenLog user URL and PIN to manage your listenlog from
  your desktop web browser:
</p>
<p>
  <a href="http://listenlog.org/sendMyselfUrl">Email user URL and PIN</a>
</p>




<h3>Your ListenLog PIN</h3>

<p>
  You'll need your ListenLog PIN to perform certain
  actions on your ListenLog data at the ListenLog website.
  To see you PIN, tap the "Show PIN" button in the upper right corner.
</p>

